body {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F4F0;
}

#etch-a-sketch {
    width: 800px;
    height: 800px;
    border: 1px solid gray;
    box-shadow: 0px 4px 20px 2px gray;    
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    gap: 10px;
}

#toolbar {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#toolbar #grid-size {
    display: flex;
    align-items: center;
    gap: 15px
}

#toolbar button {
    font-size: 15px;
    padding: 5px 10px;
    font-weight: 500;
}

#toolbar #buttons {
    display: flex;
    gap: 12px;
}

#grid {
    width: 650px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
}